@model IEnumerable<ArticoliGratis.Models.Comune>;
@{
    ViewData["Title"] = "Amministrazione";
}
<div class="row">
    <div class="col-md-12">
        <div id="categorieArticoli">
        <h3>Gestione Comune</h3> 
        <ul class="list-unstyled">    
            <li>@Html.ActionLink("Crea Comune", "Comune_Create" , "Administration" )</li>
        </ul>
    </div>
 </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeComune)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescrizioneComune)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th> 
            <th>             
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeComune)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescrizioneComune)
                </td>         
                 <td>
                    @Html.DisplayFor(modelItem => item.Provincia.NomeProvincia)
                </td> 
                <td>              
                    @Html.ActionLink("Modifica", "Comune_Edit" , "Administration",  new {id=@item.idComune} )
                    @Html.ActionLink("Elimina", "Comune_Delete" , "Administration",  new {id=@item.idComune} )
                </td>
                </tr>
        }
    </tbody>
</table>






