@model IEnumerable<ArticoliGratis.Models.Sesso>;
@{
    ViewData["Title"] = "Amministrazione";
}
<div class="row">
    <div class="col-md-12">
        <div id="categorieArticoli">
        <h3>Gestione Sesso Utenti</h3> 
        <ul class="list-unstyled">    
            <li>@Html.ActionLink("Crea Sesso Utente", "Sesso_Create" , "Administration" )</li>
        </ul>
    </div>
 </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescrizioneSesso)
            </th>    
            <th>             
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSesso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescrizioneSesso)
                </td>         
                <td>              
                    @Html.ActionLink("Modifica", "Sesso_Edit" , "Administration",  new {id=@item.idSesso} )
                    @Html.ActionLink("Elimina", "Sesso_Delete" , "Administration",  new {id=@item.idSesso} )
                </td>
                </tr>
        }
    </tbody>
</table>






