@model IEnumerable<ArticoliGratis.Models.Settore>;
@{
    ViewData["Title"] = "Amministrazione";
}
<div class="row">
    <div class="col-md-12">
        <div id="categorieArticoli">
        <h3>Gestione Sesso Utenti</h3> 
        <ul class="list-unstyled">    
            <li>@Html.ActionLink("Crea Settore Utente", "Settore_Create" , "Administration" )</li>
        </ul>
    </div>
 </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSettore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescrizioneSettore)
            </th>    
            <th>             
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSettore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescrizioneSettore)
                </td>         
                <td>              
                    @Html.ActionLink("Modifica", "Settore_Edit" , "Administration",  new {id=@item.idSettore} )
                    @Html.ActionLink("Elimina", "Settore_Delete" , "Administration",  new {id=@item.idSettore} )
                </td>
                </tr>
        }
    </tbody>
</table>






